<div class="footer fixed">
    <div class="row">
        <div>
            <center>
                <img src="~/Images/ie2banner.png" height="50" />
            </center>
        </div>
    </div>
</div>
